input[type=range] {
  -webkit-appearance: none;
  margin: 0 0 1.5em 6em;
  width: 40%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  border: 1px solid #575656;
  background: #607D8B;
}
html {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background: #1c1d22;
}
.text-color {
   color: white;
}
.menu {
  font: 15px Verdana, 'Lucida Grande';
  max-width: 720px;
  margin: 0 auto;
  height: 50px;
  list-style: none;
}
.menu .title {
  font-size: 17px;
  color: white;
  margin-right: 10px;
}
.menu li {
  display: inline-block;
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
}
.menu li:hover a{
    color: #DDD;

}
.panel {
  background: #1c1d22;
}
.notes {
  margin: 0 0 2em 5em;
  list-style-type: none;
  padding: 0;
  width: 53em;
}
.notes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3em;
  border-radius: 4px;
}
.notes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.notes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.notes .text {
  position: relative;
  top: -3px;
}
.notes .badge {
  display: inline-block;
  font-size: small;
  width: 5%;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.2em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.notes .note {
  display: inline-block;
  width: 86%;
  color: #1d1d11;
}
.notes .delete {
  display: inline-block;
  width: 4%;
}
.notes .delete-link {
    display: inline-block;
    border: none;
    border-radius: 100%;
    background-color: #EEE;
    color: red;
    text-decoration: none;
}
.notes .delete-link:hover {
    background-color: #DDD;
}
.form-group{
  margin: 0 0 0 5em;
  display: inline-block;
}
.btnw{
  width: 6em;
}

input.ng-touched.ng-invalid.form-control {border:solid red 2px;}
input.ng-touched.ng-valid.form-control {border:solid green 2px;}
