<div class="panel">
    <div class="form-inline">
        <input type="range" min="-200" max="200" value="1" [(ngModel)]="count" (change)="getCount(count)">
        <form class="form-group">
          <input class="form-control" name="text" [(ngModel)]="textN" 
           placeholder = "{{'NOTES.Note' | translate}}" #text="ngModel" required/>
          <input class="form-control" name="date" type="date" [(ngModel)]="dateN" 
            placeholder = "{{'NOTES.Date' | translate}}" />
          <input class="form-control" name="name" [(ngModel)]="nameN" 
            placeholder = "{{'NOTES.Name' | translate}}" />
          <button [disabled]="text.invalid" class="btn btn-default btnw" (click)="addItem(textN, dateN, nameN)">
              {{'NOTES.Add' | translate}}
           </button>
           <button type="reset" class="btn btn-default btnw">
              {{'NOTES.Clear' | translate}}
           </button>
        </form>                        
    </div>
</div>
<div class="panel">
    <ul class="notes">
        <li (click) = "notSelected()">
            <span class="badge">
                ID
            </span>
            <div class="note" >
              {{'NOTES.NoteIn' | translate}}
            </div>
        </li>
        
        <li *ngFor="let item of items"
            [class.selected]="item === selectedItem"
            (click) = "onSelected(item)"
        > 
            <span class="badge">
                <font color={{getColor(item.dateOfBegin)}}>
                {{item.id}} 
                </font>
            </span>
            <div class="note" >
              {{item.textNote}} 
            </div>
            <div class="delete">  
              <button class="delete-link" (click)="removeItem(item.id)">
                  &#10008;
              </button>
            </div>  
        </li>
    </ul>
</div>   